<h1>Login</h1>

<div class="container">
<div class="omniauth">
  <p><%= link_to t('login.loginlink'), "/auth/saml", class: 'btn btn-primary' %> <%= t('login.logintext')%></p>
  <% if Rails.env == 'development'  %>
  <p><%= link_to t('login.localloginlink'), "/auth/identity", class: 'btn btn-primary' %> <%= t('login.locallogintext')%></p>
  <p><%= link_to t('login.otherloginlink'), "/auth/github", class: 'btn btn-primary' %> <%= t('login.otherlogintext')%></p>
  <% end %>
</div>
</div>
