<% if current_user %>
<% ln = params[:locale] == 'ja' ? 'ja': 'en' %>
<h3><%= t('.dashboard_title') %></h3>
<br>
<p><%= t('.dashboard_text')%></p>
<p><%= SHIBCERT_CONFIG['label'][ln]['intro_text'] %></p>
<br>

<div class="container">
  <h4><%= t('.req_title') %></h4>
	<% if flash[:alert] %>
	<div class="alert alert-danger">
	  <%= flash[:alert] %>
	</div>
	<% end %>
  <ul>
    <li>
	<%= SHIBCERT_CONFIG['label'][ln]['purpose'][5] if SHIBCERT_CONFIG['label']['ja']['purpose'][5] %>
	  <%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do %>
	  <%= hidden_field :cert, :purpose_type, :value => Cert::PurposeType::CLIENT_AUTH_CERTIFICATE_52 %>
	    <div>
	    <% if SHIBCERT_CONFIG['flag']['use_upki_pass'] == true %>
		<div id="pass">&nbsp;</div>
		<div id="pass" style="display: table;">
		  <p id="pass">
		    <%= t('.pass_setup') %>
		  </p>
		  <p>
		    <%= check_box :cert, :pass_opt %> <%= t('.pass') %><br>
		    <%= text_field :cert, :pass_id, :placeholder => t('.pass_id'), :disabled => false %>
		    <%= t('.pass_text') %>
		  </p>
		</div>
	    <% elsif SHIBCERT_CONFIG['flag']['use_vlan'] == true %>
	      <%= text_field :cert, :vlan_id, :placeholder => "Enter VLAN ID..." %>
	      <%= t('.vlan_id_if_you_use') %>
	    <% end %>
	    </div>
	    <%= submit_tag(t('.req_bt', type: t('common.purpose_type.t5')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
	    <% end %>
    </li>
    <li>
	<%= SHIBCERT_CONFIG['label'][ln]['purpose'][7] if SHIBCERT_CONFIG['label']['ja']['purpose'][7] %>
	  <%= form_tag({controller: "certs", action: "request_post"}, {class: "form-inline"}) do  %>
	  <%= hidden_field :cert, :purpose_type, :value => Cert::PurposeType::SMIME_CERTIFICATE_25 %>
	  <% unless @smime_num > 0 %>
	    <%= submit_tag(t('.req_bt', type: t('common.purpose_type.t7')), class: "btn btn-primary", data: {confirm: t('.confirm')}) %>
	  <% else %>
	    <%= submit_tag(t('.req_bt', type: t('common.purpose_type.t7')), class: "btn btn-primary", disabled: true) %>
	    <%= t('.no_multi_smime') %>
	  <% end %>
	  <% end %>
    </li>
  </ul>
  <br/>

<h4>
<%= t('.list_title') %>
</h4>
<h5>
<%= form_tag({action: "index"}, {class: "form-inline"}) do  %>
  <% if @all_certs_opt == 1 %>
    <%= hidden_field :opt, :all, :value => 0 %>
    <%= submit_tag( t('.list_valid'), class: "btn btn-xs btn-default" ) %>
  <% else %>
    <%= hidden_field :opt, :all, :value => 1 %>
    <%= submit_tag( t('.list_all'), class: "btn btn-xs btn-default" ) %>
  <% end %>
<% end %>
</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.list_seq') %></th>
      <th><%= t('.list_type') %></th>
      <th><%= t('.list_date') %></th>
      <th><%= t('.list_available') %></th>
      <th><%= t('.list_expire_at') %></th>
      <% if SHIBCERT_CONFIG['flag']['use_vlan'] == true %>
      <th><%= t('.list_vlan_id') %></th>
      <% end %>
      <!-- <th><%= t('.list_renew') %></th> -->
      <th><%= t('.list_memo') %></th>
    </tr>
  </thead>

  <tbody>

    <% @certs.each do |cert| %>
      <tr>
	<td>
	  <%= link_to cert.req_seq.to_s, {action: "show", id:cert.id}, {class: "btn btn-default"} %>
	</td>
	<td>
	  <% purpose_cap =  %>
	  <% if t('common.purpose_type.t' + cert.purpose_type.to_s) %>
	    <%= t('common.purpose_type.t' + cert.purpose_type.to_s) %>
	  <% else %>
	    <%= t('.list_purpose_type_error') %>
	  <% end %>
	  <% if cert.download_type == 2 %>
	    <br/>[UPKI-PASS]
	  <% end %>
	</td>
	<td>
	  <%= I18n.l Date.parse(cert.created_at.to_s) %>
	</td>
	<td>
	  <% if cert.expire_at && cert.expire_at < Time.now %>
	  <%= t('.cert_expired') %>
	  <% else %>
	  <%= t('certs.show.cert_status_msg')[cert.state] %>
	  <% end %>
	</td>
	<td><% if cert.expire_at %><%= I18n.l Date.parse(cert.expire_at.to_s) %><% end %></td>
	<% if SHIBCERT_CONFIG['flag']['use_vlan'] == true %>
	<td><%= cert.vlan_id %></td>
	<% end %>
	<td>
	  <%= cert.memo %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% end %>

<%= link_to t('.update'), 'javascript:location.reload()', class:"underlined-text" %>
