<h1>IP white lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>IP</th>
      <th>invalid?</th>
      <th>protect?</th>
      <th>expired at</th>
      <th>memo</th>
      <th colspan="2">manage</th>
    </tr>
  </thead>

  <tbody>
    <% @ip_white_lists.each do |ip_white_list| %>
      <tr>
        <td><%= ip_white_list.ip %></td>
	<td><%= ip_white_list.valid_ip? ? '-' : 'invalid' %></td>
        <td><%= ip_white_list.protect ? '✓' : '□' %></td>
        <td><%= ip_white_list.expired_at %></td>
        <td><%= ip_white_list.memo %></td>
        <td><%= link_to 'Edit', edit_ip_white_list_path(ip_white_list), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', ip_white_list, class: "btn btn-danger #{ ip_white_list.protect ? 'disabled' : '' }", method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New IP white list', new_ip_white_list_path, class: 'btn btn-primary' %>
