<p>
  <strong>IP:</strong>
  <%= @ip_white_list.ip %>
</p>

<p>
  <strong>Expired at:</strong>
  <%= @ip_white_list.expired_at %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @ip_white_list.memo %>
</p>

<%= link_to 'Edit', edit_ip_white_list_path(@ip_white_list), class: 'btn btn-warning' %> |
<%= link_to 'Back', ip_white_lists_path, class: 'btn btn-default' %>
